{% extends 'default/layout.html.twig' %}

{% block title %}Symfony App{% endblock %}

{% block hero %}
  <p>I am a hero</p>
{% endblock %}

{% block content %}
<h1>Welcome to Hope Page - Index Page</h1>
<div>
    <img src="{{ asset('images/duck.png') }}" alt="Duck">
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" id="myAlert">
    This is a warning alert—check it out!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endblock %}
