{% extends 'layout.html.twig' %}

{% block title %}New Client {% endblock %}

{% block content %}
<h1>Create/Edit Client</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.phone) }}
        <button class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}